.navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    border-bottom: 1px solid rgb(244, 248, 250);
    padding: 1em 0 1em 1em;
    margin-bottom: 2em;
    position: fixed;
    z-index: 11;
    top: 0;
    width: 100%;
    background-color: gray;
    margin: auto;
    color: black;
}

.navigation__item {
    vertical-align: baseline;
}

.navigation__name {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
}

.navigation__icon > img {
    height: 2rem;
}

.navigation__message {
    margin-left: auto;
    margin-right: 7em;
    display: flex;
    flex-direction: row;
    position: relative;
}

.navigation__message > img {
    height: 2rem;
}

.notification__count {
    background-color: white;
    font-size: medium;
    position: absolute;
    padding: 2px;
    top: 5px;
    left: 3rem;
    min-width: 1.5rem;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    color: black;
}

.navigation__messageItem {
    flex: 1;
}

.navigation__logout {
    padding-top: 5px;
    margin-right: 2em;
}

#directMessageIcon {
    cursor: pointer;
}

.navigation__loggedInUser {
    margin-left: 20em;
    margin-right: 2em;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}
